<%- include('layout', { title: 'Profesores' }) %>

  <div class="card">
    <h2>Gestor de Profesores</h2>

    <% if (user.role==='admin' ) { %>
      <form action="/profesores" method="post" class="inline-form">
        <input name="nombre" placeholder="Nombre profesor" required />
        <input name="materia" placeholder="Materia" />
        <button class="btn">Agregar profesor</button>
      </form>
      <% } %>

        <table class="tabla">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Materia</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <% profesores.forEach(p=> { %>
              <tr>
                <td>
                  <%= p.nombre %>
                </td>
                <td>
                  <%= p.materia || '-' %>
                </td>
                <td>
                  <% if (user.role==='admin' ) { %>
                    <form style="display:inline" action="/profesores/<%= p.id %>/delete" method="post"><button
                        class="link-btn">Eliminar</button></form>
                    <% } %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
  </div>
  <%- include('footer') %>